<div class="container">
  <div class="row my-4">
    <div class="form-inline col-12">
      <div class="form-group col-11 px-0">
        <input class="form-control w-100" type="text" [(ngModel)]="searchString" placeholder="Enter Search Term" />
      </div>
      <button class="btn btn-success col-1" type="submit" (click)="search()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
      
        <div *ngFor="let show of shows; let index = index" class="row justify-content-start">
            <p>
              <a [routerLink]="['/show', show.id]">
               <!-- <img [src]="video.thumbnailUrl"/>-->
                {{show.title}}</a>
            </p>
        </div>
     
</div>