.navbar{ background: #cdf6f9;}

.navbar-menu a{
float:  right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar-menu a:hover {
  background-color: #cdf6f9;
  color: white;
  border-radius: 10px;
  

}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-menu a:not(:first-child) {display: none;}
  .navbar-menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar-menu.responsive {position: relative;}
  .navbar-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.slatki-naslov{ font-family: 'Rock Salt', cursive;}
.slatki-naslov a{
  color: hotpink;
}
.slatki-naslov a:hover {
  background-color: #cdf6f9;
  color: white;
  border-radius: 10px;
  

}

.footer {
    width: 100%;
    height: 300px;
background-image: url(/assets/images/border3.png);}
.move-down{  margin-bottom: -15px;}