<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" [routerLink]="['/']">
                Netflix
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" [routerLink]="['/']">
                Browse videos
                </a>
                <a class="navbar-item" [routerLink]="['/signin']" *ngIf="!authService.isAuthenticated">
                Login
                </a>
                <ng-container *ngIf="authService.isAuthenticated">
                    <span class="navbar-item">Welcome, {{authService.username}}!</span>
                    <a class="navbar-item" (click)="authService.logout()">                
                        Logout
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</nav>
  
<router-outlet></router-outlet>

<footer class="footer">
    <div class="container has-text-centered">
        <div class="content">
            NWT 2018
        </div>
    </div>
</footer>