* {
    box-sizing: border-box;
}


body {
font-family: Arial;
background-color: #cdf6f9;
padding: 20px;
}

.example input{
    border-radius: 7px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid darkgrey;
    float: left;
    width:78%;
    background: white;
    margin-left:2%;
}

.example button {
    border-radius: 7px;
    float: left;
    width: 18%;
    padding: 10px;
    background: #3498DB;
    color: white;
    font-size: 17px;
    border: 1px solid darkgrey;
    border-left: none;
    cursor: pointer;
    margin-right: 2%;
}

.example button:hover {
    background:lightgrey;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}