<div class="container">
<div class="example">
<input [(ngModel)]="searchString" />
<button type="submit"(click)="search()"><i class="fa fa-search"></i> </button>
</div>
<br>
<br>
<body>

  <div class="columns col-7" style="float:left;">
    <div *ngFor="let video of videos; let index = index" class="column is-4">
        <p>
          <a [routerLink]="['/video', video.id]">
            <img [src]="video.thumbnailUrl"/>
            {{video.title}}</a>
        </p>
    </div>
  </div>
</body>
</div>