<div *ngIf="video != null">
  <div class="bg" [style.background-image]="'url(' + video.thumbnailUrl + ')'">
    <div class="bg-overlay">

      <div class="container">
        <div class="row py-5">
          <div class="col-sm-4">
            <img class="w-100 d-block" style="height: 300px;" [src]="video.thumbnailUrl">
          </div>
          <div class="col">
            <h2 class="mt-3 mt-sm-0">{{ video.title }}</h2>

            <div class="text-muted">
              <p class="mb-0">{{ video.category.categoryName }} | {{ video.videoData.length }} min </p>
              <p *ngIf="videoRating > 0; else no_rating_label">
                <span class="score">
                  <span [style.width.%]="videoRating"></span>
                </span>
              </p>
              <ng-template #no_rating_label>
                <p>No User Rating</p>
              </ng-template>
            </div>

            <p> {{ video.description }}</p>

            <a [href]="video.url" class="btn btn-outline-success" data-toggle="lightbox" data-width="1200" data-gallery="streamvideo">Watch Now</a>
          </div>
        </div>

        <div class="justify-content-start owl-carousel mt-3">
          <a *ngFor="let image of video.images" href="image.imageUrl" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
            <img src="image.imageUrl" class="img-fluid">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>